@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');


/* This is the Add Entry Form */
.entryBox{
  margin:0em;
  width: 35em;
  
}

.imageContainer{
  display: flex;
  flex-wrap: wrap;
}

[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
  width: 5em;
  margin-right: 0.7em;
  margin-left: 0.7em;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  filter: invert(12%) sepia(41%) saturate(6285%) hue-rotate(323deg) brightness(96%) contrast(101%);
 }

.header2{
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  font-size: 3em;
  margin-top:1em;
}

.option{
  margin-top: 0em;
  
}

input {
  border-radius:10px;
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  }

.box {
  height: 5em;
  background-color: white;
  border-radius:10px;
  padding:10px;
  border:0;
  margin-top: 0em;
  margin-right: 1em;
  display: flex;
  align-items: center;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.openQuestionFields{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* .optionBoxes{
  margin-bottom: 0;
  width: 60%;
  display: flex;
  direction: column;
  justify-content: flex-start; 
  margin-left: 20%;
} */

.question{
  margin-top: 2em;
  margin-bottom: 0.5em;
 text-align: left;
}

#btn{
  background-color: black;
  color: white;
  border-radius:10px;
  padding:10px;
  margin-top: 1em;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  color: black;
  font-family: 'Cormorant Garamond', serif;
}



.entriesCalendar{
  font-family: 'Roboto', sans-serif;
  width: 20cm;
  margin:0;
  
}

h5{
  font-size:2em;
  font-weight: 500;
  
}

#illustration{
width: 25em;

}
.calendarAndPhotoContainer{
  margin-left:6em;
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.introJournaling{
  width: 25em;
}

.containerCalendar{
  margin-top: 3em;
}

.entriesContainer{
  margin:2em;
  display: flex;
  align-items: flex-start;
  width: 100em;
  
}


