.navBar {
  background-color: rgb(131, 196, 190);
  color: rgb(0,0,0);
  
}

.logoNavBarContainer{

  display: flex;
  justify-content: flex-start; 
  margin-top: 1em;
}

#logo{
 margin: 0cm;
  width: 15em;
}

#logoPosition{
  position: absolute;
  margin-top: -4.1em;
  padding: 0;
}